<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>road001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{601,149}</string>
                <key>spriteSourceSize</key>
                <string>{601,149}</string>
                <key>textureRect</key>
                <string>{{0,0},{601,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>road002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{601,149}</string>
                <key>spriteSourceSize</key>
                <string>{601,149}</string>
                <key>textureRect</key>
                <string>{{0,149},{601,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>road003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{601,149}</string>
                <key>spriteSourceSize</key>
                <string>{601,149}</string>
                <key>textureRect</key>
                <string>{{0,298},{601,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>road004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{601,149}</string>
                <key>spriteSourceSize</key>
                <string>{601,149}</string>
                <key>textureRect</key>
                <string>{{0,447},{601,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>road.png</string>
            <key>size</key>
            <string>{601,596}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:98031c39e962f2cc591cc6e9e197ebb4:f644376f5bf701fa20806551c0da650c:e938a01e42aa12f413bbcc1d669c039e$</string>
            <key>textureFileName</key>
            <string>road.png</string>
        </dict>
    </dict>
</plist>
